<html>
<head>
    <title>Request Hooks Demo</title>
</head>
<body>
    <h1>Request Hooks Demo</h1>
    
    <p>Request Timestamp, via a demo IRequestSartup: @Model.RequestTime</p>
    
    <p>My role-playing game of choice: @Model.RolePlayingGame</p>

    <p>
        The Three Musketeers, via a demo IRequestRegistration.CollectionTypeRegistrations:
        <ul>
            @foreach (var musketeer in Model.Musketeers)
            {
                <li>@musketeer.Name</li>
            }
        </ul>
    </p>
    
    <p>
        The best role-playing game die, via a demo IRequestRegistration.InstanceRegistrations: d @Model.Die.
    </p>
</body>
</html>